In [3]:
#Question1
#Create a variable age and assign it the value 25 . Then print the value of age along with its data type using the type() function.

In [6]:
age = 25
print(age)
type(age)

25

int

In [4]:
#Question2
#Assign the number 12.5 to a variable price . Print both the variable and its data type. Then assign the value 12 to the same variable and print its data
#type again. What do you observe?

In [13]:
price = 12.5
print(price)
type(price)

# Initially, price is assigned the value 12.5, which is a float. The type(price) will print float
# After reassigning price to 12, which is an integer, the type(price) will print int

12.5

float

In [14]:
price = 12
print(12)
type(price)

12

int

In [16]:
#Question3
#Create a variable is_raining and set it to True . Print the value of the variable 
#along with its type. Then set is_raining to False and print the new value and type.

In [1]:
is_raining = True
print(is_raining)
type(is_raining)

True

bool

In [2]:
is_raining = False
print(is_raining)
type(is_raining)

False

bool

In [5]:
#Question4
#Create a variable my_name and store your full name in it as a string. Then
#print the value of my_name using single quotes '

In [10]:
my_name = "Kirtee Shobharam Rathod"
my_name

'Kirtee Shobharam Rathod'

In [9]:
#Question5
#Write a Python program that asks the user for their name and age using the
#input() function. Store the inputs in variables and print a sentence like
#"Hello, [Name]! You are [Age] years old." Ensure you cast the age to a integer.

In [17]:
name = input("Enter your Name")
age = int(input("Enter your age"))
print("Hello,",name,"!", "you are" , age , "years old.")

Enter your Name kirtee
Enter your age 22

Hello, kirtee ! you are 22 years old.

In [16]:
#Question6
#Create two variables x and y and assign them the values 10 and 3.5 ,
#respectively. Print their values and types. Then, create a new variable
#sum_xy and store the sum of x and y . Print the result and its type.

In [27]:
X = 10
Y = 3.5
print(X)
type(X)

10

int

In [28]:
print(Y)
type(Y)

3.5

float

In [29]:
sum_xy = X+Y
print(sum_xy)
type(sum_xy)

13.5

float

In [37]:
#Question7
#Using the type() function, check and print the data type of the following:
#45.0 "hello" None False

In [33]:
type(45.0)

float

In [34]:
type("Hello")

str

In [35]:
type(None)

NoneType

In [36]:
type(False)

bool

In [38]:
#Question8
#Write a Python program to print three strings "apple" , "banana" , and "cherry"
#on the same line, separated by a space. Then modify the program to
#separate the strings using a comma , instead of a space.

In [42]:
print("apple", "banana" , "cherry" ,sep=" ")

print("apple", "banana", "cherry", sep=", ")

apple banana cherry
apple, banana, cherry

In [43]:
#Question9
#Create a variable big_number and assign it a very large integer value (e.g.,
#987654321987654321 ). Print the value and its type. What do you notice about
#the size of the number?

In [44]:
big_number = 46677582345677
print(big_number)
type(big_number)

#The variable big_number holds the value 987654321987654321, and its type is int

46677582345677

int

In [45]:
#Question
#Write a Python program that prints the result of multiplying two floats (e.g.,
#2.5 and 3.7 ). Then check and print the data type of the result.

In [46]:
x = 2.5
y = 3.7
multi = x*y
print(multi)
type(multi)

9.25

float